.typing_container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 15%;
}

.typing_container h1{
    font-size: 4vw;
}

#words{
    color: orangered;
}


@media (max-width: 612px){
    .typing_container{
        margin-top: 18%;
    }
}

