.progress-container{
    margin: 4vw 5vw;
    background: #fff;
    position: relative;
}

.progress-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;
}

.progress-item{
    width: 48%;
    line-height: 2vw;
}

.progress-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-info p{
    font-size: 1.5vw;
    opacity: 1;
    animation: showText 0.5s 1s linear forwards;
}

.progress_title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vw;
    font-size: 2.5vw;
}

.progress-line{
    margin-top: 7px;
    height: 1.1vw;
    width: 100%;
    background-color: #cdcdcd;
    position: relative;
    border-radius: 50px;
}

.progress-line span{
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    height: 100%;
    border-radius: 50px;
    position: absolute;
    background: linear-gradient(to right, orangered, purple);
    transition: 1s all;
}

.progress-line span.animate{
    -webkit-animation: animate 1.5s 0.5s cubic-bezier(1, 0, 0.5, 1) forwards;
    animation: animate 1.5s 0.5s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@-webkit-keyframes showText{
    100%{
        opacity: 1;
    }
}

@keyframes showText{
    100%{
        opacity: 1;
    }
}

@keyframes animate {
    100%{
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@-webkit-keyframes animate{
    100%{
        opacity: 1;
    }
}

@media (max-width: 412px){
    .progress-container{
        margin: 8vw 5vw;
    }
}

@media (max-width: 768px){}

@media (max-width: 992px){}

@media (max-width: 1200px){}

@media (max-width: 1400px){}